<div class="view">
    <h3> View Student Details </h3>
    <div>

        <div>
            <label> <b> Student UserName: </b></label> {{student.userName}}
        </div>
        <div>
            <label> <b> Student Name: </b></label> {{student.name}}
        </div>
        <div>
            <label> <b> Student Age: </b></label> {{student.age}}
        </div>
        <div>
            <label> <b> Student BirthDate: </b></label> {{student.birthDate}}
        </div>
        <div>
            <label> <b> Student Gender: </b></label> {{student.gender}}
        </div>
        <div>
            <label> <b> Student Address: </b></label> {{student.address}}
        </div>
        <div>
            <label> <b> Student PhoneNo: </b></label> {{student.phoneNo}}
        </div>
        <div>
            <label> <b> Student Email: </b></label> {{student.email}}
        </div>
        <div>
            <label> <b> Student Class: </b></label> {{student.classe}}
        </div>
        <div>
            <label> <b> Student Section: </b></label> {{student.section}}
        </div>
    </div>
</div>