<div class="view">
    <h3> View Teacher Details </h3>
    <div>
        <div>
            <label> <b> Teacher UserName: </b></label> {{teacher.userName}}
        </div>
        <div>
            <label> <b> Teacher Name: </b></label> {{teacher.name}}
        </div>
        <div>
            <label> <b> Teacher Age: </b></label> {{teacher.age}}
        </div>
        <div>
            <label> <b> Teacher BirthDate: </b></label> {{teacher.birthDate}}
        </div>
        <div>
            <label> <b> Teacher Gender: </b></label> {{teacher.gender}}
        </div>
        <div>
            <label> <b> Teacher Address: </b></label> {{teacher.address}}
        </div>
        <div>
            <label> <b> Teacher PhoneNo: </b></label> {{teacher.phoneNo}}
        </div>
        <div>
            <label> <b> Teacher Email: </b></label> {{teacher.email}}
        </div>
        <div>
            <label> <b> Teacher Department: </b></label> {{teacher.department}}
        </div>
    </div>
</div>