<div class="container w3-blue mat-elevation-z8 mt-5 mb-5" style="padding: 30px; border-radius: 10px; width: 50%;">
    <h1>PROFILE</h1>
    <form [formGroup]="profile">
  
      <div class="form-group">
        <label for="userName">Username</label>
        <input type="text" class="form-control w-70" formControlName="userName" required readonly>
      </div>
      <!-- <p *ngIf="studentId && studentId.touched && studentId.invalid"  style="color: #FF0000; text-shadow: 2px 2px 8px #FF0000;">Please add valid ID</p> -->
  
      <div class="form-group">
        <label for="userPassword">User Password</label>
        <input type="password" class="form-control w-70" formControlName="userPassword" required readonly>
      </div>

      <div class="form-group">
        <label for="userID">UserID</label>
        <input type="text" class="form-control w-70" formControlName="userID" required readonly>
      </div>
     
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control w-70" formControlName="name" required readonly>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control w-70" formControlName="email" required readonly>
      </div>

  
      <br>
      <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
    </form>
  </div>
  
  <!-- [disabled]="payFeesForm.invalid" -->